// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img-circular {
    width: 200px;
    height: 200px;
    background-size: cover;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
   }
   circular {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }
  circular img {
    min-width: 100px;
    min-height: 100px;
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
 pro-pic-section{

      card-wrapper {
        margin: 5% 0;
      }
      
      /* You can adjust the image size by increasing/decreasing the width, height */
      custom-circle-image {
        width: 80vw; /* note i used vw not px for better responsive */
        height: 20vw;
      }
      
      custom-circle-image img {
        object-fit: cover;
      }
  }
  .image-cropper {
    position: relative;
    height: 150px;
    width: 150px;
    overflow: hidden;
    border-radius: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
}
.profile-pic {
  display: block;
  margin: 0 auto;
  height: 100%;
  width: auto;
}
  